/* {} Alineaciones */

.alinearIzquierda {
    text-align: left !important
}

.alinearCentro {
    text-align: center !important
}

.alinearDerecha {
    text-align: right !important
}


/* {} */

.section>.card {
    margin: 0
}

.col-sm-12.col-md-12>.flexcontent {
    text-align: right !important
}

.buttons-collection,
.buttons-print {
    border-radius: 0.3rem !important;
    border: none;
    padding: 0;
}

.buttons-collection>span>i,
.buttons-print>span>i {
    width: auto;
    height: auto
}

.buttons-collection:after {
    display: none
}

.buttons-collection,
.buttons-print {
    background-color: var(--bs-primary)
}

.buttons-collection:hover,
.buttons-print:hover,
.buttons-collection:focus,
.buttons-print:focus {
    background-color: var(--bs-primary-dark)
}

.dt-button-collection {
    box-shadow: 0 0 0 0.25rem rgb(127 179 68 / 25%) !important;
    border: none;
    width: auto !important;
    min-width: 0;
    padding: 0 !important;
    background-color: transparent !important
}

.buttons-columnVisibility,
.buttons-html5 {
    width: auto !important;
    min-width: 0 !important;
    text-transform: capitalize
}

table.dataTable>tbody>tr.child span.dtr-title {
    text-transform: capitalize !important
}

.buttons-columnVisibility:hover,
.buttons-html5:hover {
    background-color: var(--bs-primary-dark);
    color: #fff !important;
}

.buttons-columnVisibility:not(.active) {
    background-color: var(--bs-primary-dark);
    color: #fff;
}

.buttons-columnVisibility:not(.active):hover {
    color: #fff
}

.buttons-columnVisibility:first-child {
    border-radius: 0.3rem 0.3rem 0 0 !important;
}

.buttons-columnVisibility:last-child {
    border-radius: 0 0 0.3rem 0.3rem !important;
}

.buttons-html5 {
    background-color: var(--bs-primary);
    color: #fff
}

.buttons-html5:hover {
    background-color: var(--bs-primary-dark);
}

.buttons-html5:first-child {
    border-radius: 0.3rem 0.3rem 0 0 !important;
}

.buttons-html5:last-child {
    border-radius: 0 0 0.3rem 0.3rem !important;
}

#tablaRegistros,
#tablaRegistrosEstado {
    width: 100% !important
}


/* .dataTables_scrollHead */

#tablaRegistros>thead,
#tablaRegistrosEstado>thead {
    border-radius: 0.3rem 0.3rem 0 0;
    background-color: var(--bs-primary);
    text-align: center
}

.sorting,
.sorting_desc,
.sorting_asc,
.sorting_disabled {
    color: #fff;
    text-transform: capitalize
}

.odd[role="row"]:hover,
.even[role="row"]:hover,
.odd.seleccionada[role="row"],
.even.seleccionada[role="row"] {
    background-color: var(--bs-primary-dark);
    color: #fff
}

.dataTables_empty {
    padding: 0 !important
}

.odd[role="row"]>td,
.even[role="row"]>td {
    text-align: center
}

.even[role="row"] {
    background-color: #ddd
}


/* .dataTables_scrollFoot */

#tablaRegistros>tfoot,
#tablaRegistrosEstado>tfoot {
    border-radius: 0 0 0.3rem 0.3rem;
    background-color: var(--bs-primary);
    text-align: center
}

#tablaRegistros>tfoot>tr>th[rowspan="1"],
#tablaRegistrosEstado>tfoot>tr>th[rowspan="1"] {
    color: #fff
}

#botonEstado {
    border-radius: 0.3rem;
    border: none;
    background-color: var(--bs-primary);
    padding: 0;
}

#botonEstado:hover,
#botonEstado:active,
#botonEstado:focus {
    background-color: var(--bs-primary-dark)
}


/*  */

.dataTables_scrollHeadInner,
.table.dataTable {
    width: 100% !important;
}

.table.dataTable {
    margin: 0 !important
}

@media (min-width: 992px) {
    .section>.card>.card-header {
        padding: 0.48828125vw 0.48828125vw 0 0.48828125vw;
        font-size: 1.109375vw
    }
    .section>.card>.card-body {
        padding: 0.48828125vw
    }
    #tablaRegistros,
    #tablaRegistrosEstado {
        font-size: 0.87890625vw;
        letter-spacing: -0.029296875vw
    }
    .buttons-collection,
    .buttons-print {
        width: 2.44140625vw;
        height: 2.2581845238095237vw;
        font-size: 1.109375vw;
    }
    .buttons-columnVisibility,
    .buttons-html5 {
        padding: 0.48828125vw;
        font-size: 1.109375vw
    }
    .table.dataTable>thead>tr> :first-child {
        padding-left: 0.2976190476190476vw !important
    }
    .sorting,
    .sorting_desc,
    .sorting_asc,
    .sorting_disabled {
        padding: 0.2976190476190476vw 0.1488095238095238vw !important
    }
    .table.dataTable>thead>tr> :last-child {
        padding-right: 0.2976190476190476vw !important
    }
    .dataTable-table>:not(:first-child),
    .table>:not(:first-child) {
        border-top: 0;
    }
    .dataTables_empty {
        height: 14.782738095238095vw
    }
    .table.dataTable>tbody>tr> :first-child {
        padding-left: 0.2976190476190476vw !important
    }
    .odd[role="row"]>td,
    .even[role="row"]>td {
        padding: 0 0.1488095238095238vw !important
    }
    .table.dataTable>tbody>tr> :last-child {
        padding-right: 0.2976190476190476vw !important
    }
    .table.dataTable>tfoot>tr> :first-child {
        padding-left: 0.2976190476190476vw !important
    }
    .table.dataTable>tfoot>tr>th {
        padding: 0.2976190476190476vw 0.1488095238095238vw !important
    }
    .table.dataTable>tfoot>tr> :last-child {
        padding-right: 0.2976190476190476vw !important
    }
    .table.dataTable>tfoot>tr>th[rowspan="1"] {
        padding: 0.2976190476190476vw 0.1488095238095238vw !important
    }
    #botonEstado {
        width: 8.5vw;
        min-height: 1.7759047619047619vw;
        font-size: 0.87890625vw;
        letter-spacing: -0.029296875vw;
    }
}

@media (max-width: 992px) {
    table.dataTable>thead>tr>td:not(.sorting_disabled2),
    table.dataTable>thead>tr>th:not(.sorting_disabled2) {
        padding-right: 1.5625vw
    }
}

@media (max-width: 575.98px) {
    .breadcrumb {
        margin-bottom: 0 !important;
        font-size: 3.75vw
    }
    .page-title>.row {
        margin: 0.5rem 0 !important
    }
    .h3,
    h3 {
        margin: 0 !important;
        font-size: 5vw
    }
    .order-first {
        width: 50%;
        order: 1 !important;
    }
    .breadcrumb-header {
        float: right !important
    }
    .order-last {
        width: 50%;
        order: 0 !important
    }
    .order-last,
    .order-first {
        padding: 0 !important
    }
    .section>.card>.card-header {
        padding: 0.3rem !important;
        font-size: 4.0625vw
    }
    .card .card-body {
        padding: 0.5rem 0.2rem
    }
    .accordion-button {
        padding: 0.3rem;
        font-size: 4.375vw
    }
    #collapseOne>.card-body {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 3.75vw;
        letter-spacing: -0.029296875vw
    }
    #filtroFechaDesde,
    #filtroFechaHasta {
        font-size: 2.75vw
    }
    #collapseOne>.card-body> :nth-of-type(4)~*:not(#botonBuscar, #botonCalcular, [for="metodoPago"]~*),
    #tablaRegistros_wrapper> :nth-child(1) {
        display: none !important
    }
    #botonBuscar {
        padding: 0.1rem;
        font-size: 3.75vw
    }
    #tablaRegistros_wrapper> :nth-child(1) {
        margin: 0 0 0.5rem 0 !important
    }
    .col-sm-12.col-md-4 {
        width: 100%
    }
    table.dataTable>thead>tr>td:not(.sorting_disabled2),
    table.dataTable>thead>tr>th:not(.sorting_disabled2),
    .odd[role="row"]>td,
    .even[role="row"]>td,
    .table.dataTable>tfoot>tr>th[rowspan="1"] {
        padding: 0.9375vw !important;
    }
    .table.dataTable,
    .sorting,
    .sorting_asc,
    .sorting_desc,
    .sorting_disabled,
    .odd>td,
    .even>td {
        font-size: 2.5vw
    }
    .dataTables_scrollBody {
        height: 60.9375vw !important
    }
    table.dataTable td {
        padding: 0.1rem !important
    }
    .dtr-control {
        font-size: 4.6875vw
    }
    .dtr-details {
        width: 100% !important;
        font-size: 3.4375vw !important
    }
    table.dataTable>tbody>tr.child ul.dtr-details>li {
        padding: 0.1rem !important;
        font-size: 2.75vw !important;
    }
    div.dataTables_wrapper div.dataTables_info {
        font-size: 3.75vw
    }
    .paginate_button>.page-link {
        padding: 1.25vw 3.125vw;
        font-size: 3.75vw
    }
}