main > .d-grid.col-12.col-lg-5 {
	grid-template-areas: 'header' 'form' 'footer';
	grid-template-rows: auto 1fr auto
}

main > .d-grid.col-12.col-lg-5 > * {
	width: 270px
}

main > .d-grid.col-12.col-lg-5 > header {
	grid-area: header
}

main > .d-grid.col-12.col-lg-5 > form {
	grid-area: form
}

main > .d-grid.col-12.col-lg-5 > footer {
	grid-area: footer
}

/* {} Pantalla de impresiÃ³n */
@media print {}

/* {} TamaÃ±o de pantalla ampliada */
@media (-webkit-min-device-pixel-ratio: 2) {}

/* {} Pantalla para 576px de ancho */
@media (min-width: 576px) {

	main > .d-grid.col-12.col-lg-5 > * {
		width: 370px
	}

	main > .d-grid.col-12.col-lg-5 > footer .btn {
		width: 115px
	}

}

/* {} Pantalla para 768px de ancho */
@media (min-width: 768px) {}

/* {} Pantalla para 992px de ancho */
@media (min-width: 992px) {}

/* {} Pantalla para 1200px de ancho */
@media (min-width: 1200px) {}

/* {} Pantalla para 1400px de ancho */
@media (min-width: 1400px) {}
